#main
  .article
    :if article.version
      %a.sha-version{ href: "/#{article.version}/#{article.name}" } Static Version
    %h1
      .title
        %a{href: "/" + article.name}&= article.title
      .twitter
        %a.twitter-share-button{href:"http://twitter.com/share",data-count:"horizontal",data-via:"creationix"}
          Tweet
          %script{src:"http://platform.twitter.com/widgets.js"}
    = markdownEncode(article.markdown)