#listing.index
  :each article in articles.slice(0,15)
    .article
      .author
        .date{title: article.date}&= formatDate(article.date, "%Y.%m.%d")
      %h2
        %a{href: "/" + article.name}&= article.title
      = intro(article.markdown)
      %a.more{href: "/" + article.name} Read more...

#sidebar
  .aside
    = markdownEncode(description)
  .bubble
    %h4
      Articles
    %ul
      :each article in articles.slice(0,20)
        %li
          %a{href: "/" + article.name}&=article.title
          
  .bubble
    %h4
      Categories
    %ul
      :each category in categories.slice(0,20)
        %li
          %a{href: "/category/" + category}&=category
          